[submodule "external/dmytropetryshchuk"]
	path = external/dmytropetryshchuk
	url = https://github.com/dpetryshchuk/dmytropetryshchuk.git
[submodule "external/freewrite"]
	path = external/freewrite
	url = https://github.com/farzaa/freewrite.git
[submodule "external/harper"]
	path = external/harper
	url = https://github.com/Automattic/harper.git
[submodule "external/react-doctor"]
	path = external/react-doctor
	url = https://github.com/millionco/react-doctor.git
