{
	servers {
		protocols h1
	}
}

(auth) {
  basic_auth {
    import /home/dima/ai-os/caddy/auth_credentials
  }
}

home.dmytropetryshchuk.com {
  import auth
  reverse_proxy localhost:4116 {
    flush_interval -1
  }
}

jobsearch.dmytropetryshchuk.com {
  redir https://home.dmytropetryshchuk.com/jobsearch/pipeline 302
}

write.dmytropetryshchuk.com {
  redir https://home.dmytropetryshchuk.com/writing/essays 302
}
