jobsearch.dmytropetryshchuk.com {
  basicauth {
    import /etc/caddy/auth_credentials
  }
  reverse_proxy jobsearch:4111
}

write.dmytropetryshchuk.com {
  basicauth {
    import /etc/caddy/auth_credentials
  }
  reverse_proxy writing-app:4112
}

log.dmytropetryshchuk.com {
  basicauth {
    import /etc/caddy/auth_credentials
  }
  reverse_proxy daily-log:4113
}
